
{% extends "layout-wide.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}



{% block content %}
  <style>
    .govuk-width-container {
      max-width: none;
      padding-left: 30px;
      padding-right: 30px;
    }
  </style>

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Service performance
      </h1>
    </div>

  </div>
  
  <div class="govuk-grid-row"> 
    
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Providers</h2>
      <div class="app-card">
        <span class="app-card__secondary-count">1,059</span>
        using Publish
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Courses</h2>
      <div class="app-card">
        <span class="app-card__secondary-count">12,995</span>
        available on Find
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Users</h2>
      <div class="app-card">
        <span class="app-card__secondary-count">3,031</span>
        registered in Publish
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Allocations</h2>
      <div class="app-card">
        <span class="app-card__secondary-count">93</span>
        requests made
      </div>
    </div>

  </div>

  <div class="govuk-grid-row govuk-!-margin-top-8 performance-tabs">
    
    <div class="govuk-grid-column-full-width govuk-!-padding-left-3 govuk-!-padding-right-3">

      {% set providersTab %}
      <h2 class="govuk-heading-l">Providers</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width govuk-!-padding-left-3 govuk-!-padding-right-3">
          <div class="app-card app-card--blue">
            <span class="app-card__secondary-count">1,059</span>
            using Publish
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">
          <div class="app-card app-card--green">
            <span class="app-card__tertiary-count">905</span>
            with published courses
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="app-card app-card--red">
            <span class="app-card__tertiary-count">154</span>
            with courses not published
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="app-card">
            <span class="app-card__tertiary-count">227</span>
            accredited bodies
          </div>
        </div>
        
      </div>

      {% endset -%}

      {% set coursesTab %}
        <h2 class="govuk-heading-l">Courses</h2>
        <div class="govuk-grid-row">
          
          <div class="govuk-grid-column-full-width govuk-!-padding-left-3 govuk-!-padding-right-3">
            <div class="app-card app-card--blue">
              <span class="app-card__secondary-count">12,995</span>
              courses listed in Find
            </div>
          </div>

        </div>

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <div class="app-card app-card--green">
              <span class="app-card__tertiary-count">8,086</span>
              open courses
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="app-card app-card--red">
              <span class="app-card__tertiary-count">4,909</span>
              closed courses
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="app-card">
              <span class="app-card__tertiary-count">###</span>
              draft courses
            </div>
          </div>

        </div>

        <h2 class="govuk-heading-l govuk-!-margin-top-6">Course activity</h2>
      
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <div class="app-card">
              <span class="app-card__tertiary-count">###</span>
              recently published
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="app-card">
              <span class="app-card__tertiary-count">###</span>
              recently closed
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="app-card">
              <span class="app-card__tertiary-count">###</span>
              recently created drafts
            </div>
          </div>
        
        </div>

      {% endset -%}

      {% set usersTab %}
      <h2 class="govuk-heading-l">Users</h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width govuk-!-padding-left-3 govuk-!-padding-right-3">
          <div class="app-card app-card--blue">
            <span class="app-card__secondary-count">3,031</span>
            registered
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">
          <div class="app-card app-card--green">
            <span class="app-card__tertiary-count">1,862</span>
            active
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="app-card app-card--red">
            <span class="app-card__tertiary-count">1,169</span>
            not active)
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="app-card">
            <span class="app-card__tertiary-count">550</span>
            active in the last 30 days
          </div>
        </div>

      </div>

      {% endset -%}

      {% set allocationsTab %}
      <h2 class="govuk-heading-l">Allocations</h2>
    
      <h3 class="govuk-heading-m govuk-!-margin-top-6">PE Requests for 2021 – 2022</h3>
      
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">
          <div class="app-card app">
            <span class="app-card__tertiary-count">24</span>
            requests
          </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div class="app-card">
            <span class="app-card__tertiary-count">149</span>
            number of places
          </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <div class="app-card">
            <span class="app-card__tertiary-count">15</span>
            accredited bodies
          </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div class="app-card">
            <span class="app-card__tertiary-count">24</span>
            providers
          </div>
        </div>

      </div>
      
      <h3 class="govuk-heading-m govuk-!-margin-top-6">PE Requests for 2020 – 2021</h3>
      
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">
          <div class="app-card">
            <span class="app-card__tertiary-count">433</span>
            requests
          </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div class="app-card">
            <span class="app-card__tertiary-count">1,461</span>
            number of places
          </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <div class="app-card">
            <span class="app-card__tertiary-count">153</span>
            accredited bodies
          </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div class="app-card">
            <span class="app-card__tertiary-count">397</span>
            providers
          </div>
        </div>

      </div>

      {% endset -%}
      
      {% set rolloverTab %}
      <h2 class="govuk-heading-l">Rollover</h2>
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width govuk-!-padding-left-3 govuk-!-padding-right-3">
          <div class="app-card app-card--blue">
            <span class="app-card__secondary-count">###</span>
            courses published for next cycle
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
          <div class="app-card app-card--green">
            <span class="app-card__tertiary-count">###</span>
            new courses created
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="app-card app-card--red">
            <span class="app-card__tertiary-count">###</span>
            existing courses deleted
          </div>
        </div>

      </div>

      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "Providers",
            id: "providers",
            panel: {
              html: providersTab
            }
          },
          {
            label: "Courses",
            id: "courses",
            panel: {
              html: coursesTab
            }
          },
          {
            label: "Users",
            id: "users-activity",
            panel: {
              html: usersTab
            }
          },
          {
            label: "Allocations",
            id: "allocations",
            panel: {
              html: allocationsTab
            }
          },
          {
            label: "Rollover",
            id: "rollover",
            panel: {
              html: rolloverTab
            }
          }
        ]
      }) }}
            
      {% endblock %}

    </div>
  </div>
  
